Skin Thickness Evaluation/Service References/SITServiceExt/SITServiceExt1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="uri:SIEMENS/SIMATIC-IT/WebServiceExt" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="uri:SIEMENS/SIMATIC-IT/WebServiceExt" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="uri:SIEMENS/SIMATIC-IT/WebServiceExt">
      <s:element name="ServiceTest">
        <s:complexType />
      </s:element>
      <s:element name="ServiceTestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ServiceTestResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServiceCaller">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dataInput" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="errorCode" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="errorDescription" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dataOutput" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dataRows">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ServiceCallerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="errorCode" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="errorDescription" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dataOutput" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dataRows">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ServiceTestSoapIn">
    <wsdl:part name="parameters" element="tns:ServiceTest" />
  </wsdl:message>
  <wsdl:message name="ServiceTestSoapOut">
    <wsdl:part name="parameters" element="tns:ServiceTestResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceCallerSoapIn">
    <wsdl:part name="parameters" element="tns:ServiceCaller" />
  </wsdl:message>
  <wsdl:message name="ServiceCallerSoapOut">
    <wsdl:part name="parameters" element="tns:ServiceCallerResponse" />
  </wsdl:message>
  <wsdl:portType name="SITServiceExtSoap">
    <wsdl:operation name="ServiceTest">
      <wsdl:input message="tns:ServiceTestSoapIn" />
      <wsdl:output message="tns:ServiceTestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ServiceCaller">
      <wsdl:input message="tns:ServiceCallerSoapIn" />
      <wsdl:output message="tns:ServiceCallerSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SITServiceExtSoap" type="tns:SITServiceExtSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ServiceTest">
      <soap:operation soapAction="uri:SIEMENS/SIMATIC-IT/WebServiceExt/ServiceTest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceCaller">
      <soap:operation soapAction="uri:SIEMENS/SIMATIC-IT/WebServiceExt/ServiceCaller" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SITServiceExtSoap12" type="tns:SITServiceExtSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ServiceTest">
      <soap12:operation soapAction="uri:SIEMENS/SIMATIC-IT/WebServiceExt/ServiceTest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceCaller">
      <soap12:operation soapAction="uri:SIEMENS/SIMATIC-IT/WebServiceExt/ServiceCaller" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SITServiceExt">
    <wsdl:port name="SITServiceExtSoap" binding="tns:SITServiceExtSoap">
      <soap:address location="http://localhost:56426/SITServiceExt/SITServiceExt.asmx" />
    </wsdl:port>
    <wsdl:port name="SITServiceExtSoap12" binding="tns:SITServiceExtSoap12">
      <soap12:address location="http://localhost:56426/SITServiceExt/SITServiceExt.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>